.caixaLogin{
    width:50% ;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: brown;

}

.formIcon{
    font-size: 100px;
    text-align: left;
}

.mybtn{
    font-size: 20px;

}

.ficaNoMeio{
    width: 110px;
    margin-left: auto;
    margin-left: auto;
}